// 默认样式组

// ==========form表单类型展示===========
.global-c-form-table {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;

  td {
    padding: 10px 10px 11px 10px;
    border: #e4eef6 1px solid;
    word-break: break-all;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    word-wrap: break-word;
  }

  .global-c-form-table-tb {
    background: #f2f9fc;
    padding-right: 6px;
  }
}

// ======设置MessageBox取消按钮向右浮动，左magin为10px，即与确定按钮间距为10px========
.global-c-btn-custom-cancel {
  float: right;
  margin-left: 10px;
}